body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#NavBar{
  position: sticky;
  top: 0;
}
#navbar{
  width: 100%;
  height: 75px;
  background-color: aliceblue;
  line-height: 50px;
}
#navbar ul li a{
  font-size: 20px;
  margin-left: 30px;
}

#LoginForm{
  width: auto;
  height: auto;
  padding: 50px;
  display: flex;
  flex-direction: row;
}
#loginformblock1{
  width: 50%;
  height: 500px;
  background-image: url('/public/images/loginimg3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
}
#loginformblock1 span{
  color: white;
  font-size: 22px;
  font-weight: bold;
}
#loginformblock2{
  width: 50%;
  height: 500px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  padding: 50px;
}
.form-floating{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
#loginCheckbox{
  width: 50%;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}
#loginCheckbox input{
  margin-right: 10px;
}
#a1{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
#loginContent{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

#registerform{
  background-color: gainsboro;
  padding: 50px;
}
#register{
  width: 100%;
  height: auto;
  background-color: white;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}
#registerblock1{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#registerblock2 h4{
  text-align: start;
}
#registerblock3 h4{
  text-align: start;
}
#registerblock4 h4{
  text-align: start;
}
#registerblock5 h4{
  text-align: start;
}

#examdemo{
  display: flex;
  flex-direction: column;
}
#exammainblock{
  display: flex;
  flex-direction: row;
}
#examfooterblock{
  position: sticky;
  bottom: 0px;
  padding: 15px;
}
#examfooterblock button{
  width: 100px;
  height: 50px;
  font-weight: bold;
  font-size: 20px;
}
#examblock1{
  width: 70%;
  height: 465px;
  background-color: whitesmoke;
  text-align: start;
  padding: 20px;
  overflow: scroll;
}
#examblock2{
  width: 30%;
  height: auto;
  background-color: wheat;
}
#examblock2 span{
  width: auto;
  height: auto;
  padding: 0px 30px;
  background-color: rgb(2, 2, 252);
  color: white;
  font-weight: bold;
}

#instruction{
  display: flex;
  flex-direction: column;
}
#instructionmainblock{
  display: flex;
  flex-direction: row;
}
#instructionfooterblock{
  position: sticky;
  bottom: 0px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#instructionfooterblock button{
  width: auto;
  height: 50px;
  font-weight: bold;
  font-size: 20px;
}
#instructionblock1{
  width: 70%;
  height: 465px;
  background-color: whitesmoke;
  text-align: start;
  padding: 20px;
  overflow: scroll;
}
#instructionblock2{
  width: 30%;
  height: auto;
  background-color: wheat;
}
#instructionblock2 span{
  width: auto;
  height: auto;
  padding: 0px 30px;
  background-color: rgb(2, 2, 252);
  color: white;
  font-weight: bold;
}